<nav class="site-nav">
  <a class="brand" href="/">{{ site.title }}</a>
  <ul>
    {% for item in navigation %}
      <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
</nav>

